button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 30px;
    font-weight: bold;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #00471b;
    color: #FFFFFF;
  }

  .boton-click {
    background-color: #db1f06;
  }

  .boton-reiniciar {
    background-color: #22013f;
  }