.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 8px solid #FFFFFF;
    margin: 15px 0;
}